# PANDAS: An open source  Python library to support data analysis

Introduces two new data structures to Python â€“ 

      1) Series 
      2) DataFrames 
      
 * Both of these are built on top of NumPy and provides high-performance
 * easy-to-use data structures and data analysis tools for the python programming language

In [1]:
# Setting up working environment

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option('max_columns', 50)
%matplotlib inline

# Series
 * A Series is a one-dimensional object similar to an array, list, or column in a table.
 * The system will assign a labelled index to each item in the Series. By default, each item will receive an index label from 0 to N, where N is the length of the Series minus one.

In [2]:
# Example1: creating Series from a list.  

s = pd.Series([7, 'Heisenberg', 3.14, -1789710578, 'Happy Eating!'])
print(s)                            # prints the following

0                7
1       Heisenberg
2             3.14
3      -1789710578
4    Happy Eating!
dtype: object

## Indexing a series

 * Alternatively, you can specify an index to use when creating the Series rather than relying on the default ones.

In [3]:
s = pd.Series([7, 'Heisenberg', 3.14, -1789710578, 'Happy Eating!'],
              index=['A', 'Z', 'C', 'Y', 'E'])

print(s)                        # would print details with assigned indexes

A                7
Z       Heisenberg
C             3.14
Y      -1789710578
E    Happy Eating!
dtype: object

# Creating a series from a dictionary

 * The Series constructor can create a dictionary as well, using the keys of the dictionary as its index.

In [4]:
d = {'Chicago': 1000, 'New York': 1300, 'Portland': 900, 'San Francisco': 1100, 'Austin':  450, 'Boston': None}
cities = pd.Series(d)

print(cities)                         # would print the following

Chicago          1000.0
New York         1300.0
Portland          900.0
San Francisco    1100.0
Austin            450.0
Boston              NaN
dtype: float64

## Selecting members of a series

 * You can use the index to select specific items from the Series ...

In [5]:
print(cities['Chicago'])            # Prints the value associated with index Chicago

#print(cities['Chicago', 'Portland', 'San Francisco'])   # this will throw error. Cannot access values at
                                                         # three index at the same time

1000.0

In [6]:
print(cities[['Chicago']])            # We select only one item
print('------------------------------')

print(cities[['Chicago', 'Portland', 'San Francisco']])   # We select 3 items

Chicago    1000.0
dtype: float64
------------------------------
Chicago          1000.0
Portland          900.0
San Francisco    1100.0
dtype: float64

## Using boolean indexing for selection

In [7]:
print(cities[cities < 1000])       # shall print all cities with values less than 1000

Portland    900.0
Austin      450.0
dtype: float64

## Changing values using boolean logic

In [8]:
cities[cities < 1000] = 750        # change values of cities less than 1000 to 750 
print (cities[cities < 1000])          # prints following

Portland    750.0
Austin      750.0
dtype: float64

## Checking if an item is in a series

In [9]:
print('Seattle' in cities)              # prints   False
print('San Francisco' in cities)        # prints   True

False
True

## Maths operations on series

In [10]:
# a) Using scalar operation

cities / 3       # would print

Chicago          333.333333
New York         433.333333
Portland         250.000000
San Francisco    366.666667
Austin           250.000000
Boston                  NaN
dtype: float64

In [11]:
# b) Using math function

np.square(cities)      # squares all values of cities

Chicago          1000000.0
New York         1690000.0
Portland          562500.0
San Francisco    1210000.0
Austin            562500.0
Boston                 NaN
dtype: float64

#### Adding two series together

 * This returns a union of the two Series with the addition occurring on the shared index values. 
 * Values from either Series that did not have a shared index will produce a NULL/NaN (not a number)

In [12]:
ser1 = cities[['Chicago', 'New York', 'Portland']]
ser2 = cities[['Austin', 'New York']]
ser3 = ser1 + ser2
print(ser3)              

#print(cities[['Chicago', 'New York', 'Portland']] + cities[['Austin', 'New York']])

Austin         NaN
Chicago        NaN
New York    2600.0
Portland       NaN
dtype: float64

Notice that because Austin, Chicago, and Portland were not found in both Series, they were returned with NULL/NaN values.

## Checking for nulls

 * Use isnull and notnull (similar to SQL):

In [13]:
# a. Using notnull()

cities.notnull()

Chicago           True
New York          True
Portland          True
San Francisco     True
Austin            True
Boston           False
dtype: bool

In [14]:
# b. Using isnull()

cities.isnull()

Chicago          False
New York         False
Portland         False
San Francisco    False
Austin           False
Boston            True
dtype: bool

In [15]:
# Let us print all those elements with null values 

print(cities[cities.isnull()])

Boston   NaN
dtype: float64

# DataFrames

 * A DataFrame is a tabular data structure comprised of rows and columns, akin to a spreadsheet, relational database table, or R's data.frame object. 
 * You can also think of a DataFrame as a group of Series objects that share an index (the column names).

## Reading data into a DataFrame

In [16]:
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions', 'Lions', 'Lions'], 
        'wins': [11, 8, 10, 15, 11, 6, 10, 4], 'losses': [5, 8, 6, 1, 5, 10, 6, 12]}


football = pd.DataFrame(data, columns=['year', 'team', 'wins', 'losses'])

#football = pd.DataFrame(data) #even without specifyig explicitly the columns values, pandas automatically 
# takes keys of the dictionary as column names.

In the above, 

 * data is a list of dictionary
 * we create football DataFrame using the list. This produces a table showing wins and losses for a team in different years

In [17]:
print(football)

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

In [18]:
# Lets print the contents of our football dataframe

print(football)

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

## Deleting a dataframe

 * del "dataframe name"

In [19]:
# Example to delete football

#del football

In [20]:
# print(football)  # Throws following errow message : name 'football' is not defined

## Other ways of populating dataframes

 * Pandas is capable of IO with csv, excel data, hdf, sql, json, msgpack, html, gbq, stata, clipboard, and  pickle data, and the list continues to grow.
 * Check out the following link: http://pandas.pydata.org/pandas-docs/stable/  for detailed information.

## I/O with CSV files

 * To read a CSV file we use the pandas read_csv method. 
 * Suppose we have a CSV file storing average house prices for some geographical area. Let us read the file into a dataframe and print the contents

In [21]:
df = pd.read_csv('inputs/house_prices.csv')    

print(df)
#print(df.head())       # prints first few records. Helpful when we deal with large files.

         Date   Value
0  2015-06-30  502300
1  2015-05-31  501500
2  2015-04-30  500100
3  2015-03-31  495800
4  2015-02-28  492700

 * By default, read_csv expects a comma separator between fields in the file, but this can be overridden.
 * Notice the output has default index numbers starting from 0.

In [22]:
# To write the data out to another file:

df.to_csv('house_prices_copy.csv')

In [23]:
# To write out just the values of a certain column:

df['Value'].to_csv('house_prices_values.csv')

/home/bhusan/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

In [24]:
# Lets check the contents of these files

df1 = pd.read_csv('house_prices_copy.csv')

In [25]:
df1

   Unnamed: 0        Date   Value
0           0  2015-06-30  502300
1           1  2015-05-31  501500
2           2  2015-04-30  500100
3           3  2015-03-31  495800
4           4  2015-02-28  492700

 * You can set an index to the data in the dataframe on import of the file:

In [26]:
# Lets check the contents of these files

df2 = pd.read_csv('house_prices_copy.csv', index_col=0) 

# We have now explicitly specified the first column (of the csv file) as the index, thus the first column of
# house_prices_copy.csv that contains index values from 0-4 is chosen as the index
# in new data frame object

# try commenting out index_col=0, then pandas will use its default indexing
# df2 = pd.read_csv('house_prices_copy.csv')   #, index_col=0)

In [27]:
df2

         Date   Value
0  2015-06-30  502300
1  2015-05-31  501500
2  2015-04-30  500100
3  2015-03-31  495800
4  2015-02-28  492700

In [28]:
# Lets check the contents of the newly created csv files 

df3 = pd.read_csv('house_prices_values.csv')

print(df3)

   0  502300
0  1  501500
1  2  500100
2  3  495800
3  4  492700

Panda assumes first row to have header information (column names). This is why we see indexing being assigned from second element.

In [29]:
# TODO:
# Explore how can we avoid this?

### Changing the  column header

 * Lets change the  column header "value" to 'House_Prices'. One simple approach is as follows:

In [30]:
df.columns = ['Date','House_Prices']
print(df.head())
#print(df)

         Date  House_Prices
0  2015-06-30        502300
1  2015-05-31        501500
2  2015-04-30        500100
3  2015-03-31        495800
4  2015-02-28        492700

### If we  wish to write data frame to a csv file without header

In [31]:
df.to_csv('house_prices_no_header.csv', header=False)   # specfify header=False

In [32]:
# Lets load and see the contents
print(pd.read_csv('house_prices_no_header.csv'))

   0  2015-06-30  502300
0  1  2015-05-31  501500
1  2  2015-04-30  500100
2  3  2015-03-31  495800
3  4  2015-02-28  492700

### If the file has no headers, but we want them in the dataframe

In [33]:
df = pd.read_csv('house_prices_no_header.csv', names = ['Date',' House_Price'], index_col=0) 

print(df.head())

         Date   House_Price
0  2015-06-30        502300
1  2015-05-31        501500
2  2015-04-30        500100
3  2015-03-31        495800
4  2015-02-28        492700

## I/O with Pandas

 * pandas' various reader functions have many parameters allowing you to do things like skipping lines of the file, parsing dates, or specifying how to handle NAN/NULL data points.
 * There's also a set of writer functions for writing to a variety of formats (CSVs, HTML tables, JSON etc). 
 * They function exactly as you'd expect and are typically called to_format.

## I/O with Excel

 * The  read_excel()  method can read Excel 2003 (.xls) and Excel 2007+ (.xlsx) files using the xlrd Python module. 
 * The  to_excel()  instance method is used for saving a DataFrame to Excel. 
 * Generally the semantics are similar to  working with  csv  data.
 * You can install the xlrd  library  via pip :  pip install xlrd

### Let's write a dataframe to Excel. To write the football dataframe we created above:

In [34]:
football.to_excel('football.xlsx', index=False)   # index=False is used to avoid writing header information

Note that, we did not write the index from  the dataframe as it is meaningless. To verify the spreadsheet has been created, we could issue a directory listing command using the ! character (in Linux for example)
!ls -l *.xlsx

In [35]:
%%bash                          
ls -l *.xlsx
pwd

-rw-rw-r-- 1 bhusan bhusan 5588 Mar 12 19:09 football.xlsx
/home/bhusan/Data_Analytics/da2020/lecture3/on_git/pandas1

 * Jupyter notebook allows you to embed bash scripts. This can be very helpful to perform some simple operations (if you are familiar with bash scripting). For, example to check the present working directory or listing out all the files with extension .xlsx
 * You need to write %%bash symbol (often termed magic cell) which informs Jupyter that the statements following are bash scripts

## Reading from Excel

 * In the most basic use-case, read_excel takes a path to an Excel file, and the sheet name indicating 
   which sheet to parse.

In [36]:
football_excel_file = pd.read_excel('football.xlsx', 'Sheet1')  # default is always Sheet1

 * Above command uses the Pandas read method to repopulate the football dataframe from sheet 1 of the spreadsheet.

In [37]:
print(football_excel_file)

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

## Working with multiple sheets 
 
 * To facilitate working with multiple sheets from the same file, the ExcelFile class can be used to wrap the file and can be passed into read_excel method.
 * There will be a performance benefit for reading multiple sheets as the file is read into memory only once.

In [38]:
two_sheets_xlsFile = pd.ExcelFile('inputs/multi_sheets.xlsx')

Here, multi_sheets.xls is an excel file we have created that comprise of two sheets. We keep this file in the same directory.

In [39]:
# Lets use just read the first sheet into a dataframe

df_1 = pd.read_excel(two_sheets_xlsFile, 'Sheet1')

In [40]:
print(df_1)

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

In [41]:
# Lets read the second sheet into another dataframe

df_2 = pd.read_excel(two_sheets_xlsFile, 'Sheet2')

In [42]:
print(df_2)

   department  distinction  first class
0          CS           20           50
1          EE           14           56
2  Mechanical           11           60
3       Civil           23           57
4       Music           17           54
5     English           15           61
6         Law           13           63

 * Just for illustration purpose, I added the above information in Sheet2. 
 * Basically, it tells us the information about number of students who got distinction and first class in various departments.

## The ExcelFile class can also be used as a context manager.

In [43]:
with pd.ExcelFile('inputs/multi_sheets.xlsx') as xls:
    df_3 = pd.read_excel(xls, 'Sheet1')
    df_4 = pd.read_excel(xls, 'Sheet2')

#The sheet_names property will generate a list of the sheet names in the file.

In [44]:
print(df_3)

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

In [45]:
df_4

   department  distinction  first class
0          CS           20           50
1          EE           14           56
2  Mechanical           11           60
3       Civil           23           57
4       Music           17           54
5     English           15           61
6         Law           13           63

### The primary use-case for an ExcelFile is parsing multiple sheets with different parameters
 * Example:  when Sheet1's format differs from Sheet2

In [46]:
data = {}      # an empty dictionary

with pd.ExcelFile('inputs/multi_sheets.xlsx') as xls:
    data['Sheet1'] = pd.read_excel(xls, 'Sheet1', index_col=None, na_values=['NA'])
    data['Sheet2'] = pd.read_excel(xls, 'Sheet2', index_col=0)

 * Note that if the same parsing parameters are used for all sheets, a list of sheet names can simply be passed to read_excel with no loss in performance.

In [47]:
# Lets print the dictionary we just created

data

{'Sheet1':    year     team  wins  losses
 0  2010    Bears    11       5
 1  2011    Bears     8       8
 2  2012    Bears    10       6
 3  2011  Packers    15       1
 4  2012  Packers    11       5
 5  2010    Lions     6      10
 6  2011    Lions    10       6
 7  2012    Lions     4      12, 'Sheet2':             distinction  first class
 department
 CS                   20           50
 EE                   14           56
 Mechanical           11           60
 Civil                23           57
 Music                17           54
 English              15           61
 Law                  13           63}

### using the ExcelFile class when formats of sheets are same

In [48]:
data = {}

with pd.ExcelFile('inputs/multi_sheets.xlsx') as xls:
    data['Sheet1'] = pd.read_excel(xls, 'Sheet1', index_col=None, na_values=['NA']) 
    data['Sheet2'] = pd.read_excel(xls, 'Sheet2', index_col=None, na_values=['NA'])

In [49]:
print(data)            # uncomment and print the contents

{'Sheet1':    year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12, 'Sheet2':    department  distinction  first class
0          CS           20           50
1          EE           14           56
2  Mechanical           11           60
3       Civil           23           57
4       Music           17           54
5     English           15           61
6         Law           13           63}

In [50]:
# Equivalent using the read_excel function can be

data = pd.read_excel('inputs/multi_sheets.xlsx', ['Sheet1', 'Sheet2'], index_col=None, na_values=['NA'])

In [51]:
data

OrderedDict([('Sheet1',    year     team  wins  losses
              0  2010    Bears    11       5
              1  2011    Bears     8       8
              2  2012    Bears    10       6
              3  2011  Packers    15       1
              4  2012  Packers    11       5
              5  2010    Lions     6      10
              6  2011    Lions    10       6
              7  2012    Lions     4      12),
             ('Sheet2',    department  distinction  first class
              0          CS           20           50
              1          EE           14           56
              2  Mechanical           11           60
              3       Civil           23           57
              4       Music           17           54
              5     English           15           61
              6         Law           13           63)])

### Working with multiple sheets

 * The second argument is sheetname, not to be confused with ExcelFile.sheet_names.
 * An ExcelFileâ€™s attribute sheet_names provides access to a list of sheets.
 * The arguments sheetname allows specifying the sheet or sheets to read.
 * The default value for sheetname is 0, indicating to read the first sheet
 * Pass a string to refer to the name of a particular sheet in the workbook.
 * Pass an integer to refer to the index of a sheet. Indices follow Python convention, beginning at 0.
 * Pass a list of either strings or integers, to return a dictionary of specified sheets.
 * Detailed documentation online http://pandas.pydata.org/pandas-docs/stable/io.html#excel-files

In [52]:
print('done')

done